<mat-toolbar class='main' color="primary">
  <mat-toolbar-row>
    <img src="../../assets/bilogo.png" (click)="goHome()">
    <span class="spacer"></span>
    <button mat-button >Main</button>
    <button mat-button (click)="addUser()">People</button>
    <button mat-button (click)="goAccount()">Accounts</button>
    <button mat-button >Communicate</button>
    <button mat-button >Activities</button>
    <button mat-button >Reports</button>
    <button mat-button (click)="logOut()">Log Out</button>
  </mat-toolbar-row>
</mat-toolbar>