<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Hello, world!</title>
</head>

<body>
  <!--<span class="topspacer">

  </span> -->
  <mat-toolbar>
    <mat-toolbar-row>
      Better Impact Administrator Login
    </mat-toolbar-row>
  </mat-toolbar>
  <div class="container">
    <span class="spacer">
    </span>
    <div class="login-form">
      <div class="login-title">
        Welcome
      </div>
      <br>
      <button class="submit" mat-button (click)="OnSubmit()">Login</button>
    </div>
  </div>
</body>

</html>