<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Hello, world!</title>
</head>

<body>
  <!--<span class="topspacer">

  </span> -->
  <mat-toolbar>
    <mat-toolbar-row>
      Edit Person John Doe
      <form class="search-form">
        <mat-form-field>
          <input matInput placeholder="Type a person's name to search">
        </mat-form-field>
      </form>
    </mat-toolbar-row>
  </mat-toolbar>
  <mat-toolbar color="primary" class="main">
    <mat-toolbar-row class="secondary">
      <button mat-button>Main</button>
      <button mat-button>Communications</button>
      <button mat-button>Schedule</button>
      <button mat-button>Reports</button>
      <button mat-button>Organisations</button>
      <button mat-button>Classifications</button>
    </mat-toolbar-row>
  </mat-toolbar>
  <mat-card-content>
    <div class="person-form">
      <mat-form-field>
        <input matInput placeholder="Salutation">
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Legal First Name">
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="First Name">
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Middle Name">
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Last Name">
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Suffix">
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Address Line 1">
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Address Line 2">
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Suburb / City">
      </mat-form-field>
    </div>
  </mat-card-content>
</body>

</html>